<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <title>Please Upload your File.</title>
</head>

<body class="h-100 text-center">

<!-- Login Form -->
<center>

            <!-- Upload Button -->
            <button type="submit">Upload</button>

</center>

<!-- Javascript JS -->
<script src="/js/bootstrap.js"></script>

</body>
</html>